$font-inter: url("/path/to/inter/font/Inter-Regular.ttf");
@mixin font-inter {
  font-family: "Inter", sans-serif;
  src: #{$font-inter};
}
@mixin breakpoint($point) {
  @if $point == mobile {
    @media (min-width: 320px) and (max-width: 680px) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 481px) and (max-width: 767px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if $point == pc {
    @media (min-width: 1025px) {
      @content;
    }
  }
}
body {
  @include font-inter;
  // overflow-x: hidden;
}
.container {
  max-width: 1440px;
  background-color: white;
  // background-color: blue;
  height: 5000px;
  margin: 0 auto;
  position: relative;

  .navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    height: 28px;
    max-width: 1076px;
    // background-color: red;
    font-family: inherit;
    font-weight: bold;

    .item1 {
      font-weight: bold;
      display: flex;
      background-color: white;
      margin-top: 46px;
      font-size: 20px;
      align-items: center;
      height: 28px;
    }
    .menu {
      display: none;
    }
    .item {
      display: flex;
      height: 28px;
      text-align: center;
      margin-top: 46px;
      align-items: center;
      width: 40%;
      font-size: 18px;
      font-weight: 100;
      justify-content: space-between;
    }
  }
  .hero_section {
    margin: 0 auto;
    width: 1065px;
    height: 450px;
    margin-top: 171px;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    .building {
      width: 540px;
      height: 192px;
      color: #272d38;
      font-size: 65px;
      line-height: 64px;
    }
    .digital {
      width: 525px;
      height: 56px;
      font-size: 18px;
    }
    .button {
      width: 167px;
      height: 48px;
      border-radius: 8px;
      font-size: 16px;
      line-height: 27.5px;
      text-align: center;
      color: white;
      background-color: #8eadd5;
      border: none;
      // margin-top: 524px;
    }
    .img {
      width: 450px;
      height: 450px;
    }
  }
  .companies {
    max-width: 915px;
    height: 86px;
    top: 810px;
    left: 263px;
    font-size: 16px;
    text-align: center;
    // max-;
    margin: 0 auto;

    .logos {
      background-color: #f5f5f5;
      // flex-direction: row;
      .company_logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .pic1 {
          // position: absolute;
          bottom: 0;
          // width: 10px;
          right: 0;
          transform: translate(0%, -50%);
        }
        .puzzle {
          width: 150px;
          .puzzle_item {
            height: 45px;
          }
        }
        .pic2 {
          // position: absolute;
          bottom: 0;
          left: 0;
          transform: translate(0%, -50%);
        }

        .pic3 {
          // position: absolute;
          top: 0;
          left: 0;
          transform: translate(0%, 50%);
        }

        .pic4 {
          // position: absolute;
          top: 0;
          right: 0;
          transform: translate(0%, 50%);
        }
      }
    }
  }
  .branding {
    width: 1065px;
    height: 450px;
    margin: 0 auto;
    margin-top: 136px;
    display: flex;
    // background-color: red;
    position: relative;
    .h1_branding {
      position: absolute;
      margin-top: 97px;
      right: 0px;
      font-size: 48px;
      width: 435px;
      height: 102px;
      // margin-bottom: 50px;
    }
    .commonly {
      // background-color: red;
      position: absolute;
      margin-top: 220px;
      right: 70px;
      max-width: 465px;
      height: 83px;
      width: 365px;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.5px;
    }
    .arrow {
      position: absolute;
      margin-top: 320px;
      width: 22.23px;
      // top: 1386px;
      left: 630px;
    }
  }
  .branding1 {
    display: flex;
    width: 1065px;
    height: 450px;
    margin: 0 auto;
    margin-top: 136px;
    // background-color: red;
    position: relative;
    .img {
      position: absolute;
      // margin-top: 40px;

      right: 0;
    }
    .h1_branding {
      position: absolute;
      margin-top: 97px;
      // right: 0px;
      font-size: 48px;
      width: 435px;
      height: 102px;
      // margin-bottom: 50px;
    }
    .commonly {
      // background-color: red;
      position: absolute;
      margin-top: 220px;
      // right: 70px;
      max-width: 465px;
      height: 83px;
      width: 365px;
      font-size: 16x;
      font-weight: 400;
      line-height: 27.5px;
    }
    .arrow {
      position: absolute;
      margin-top: 320px;
      width: 22.23px;
      // top: 1386px;
      // left: 630px;
    }
  }
  .test {
    margin-top: 136px;
    text-align: center;

    .read {
      // font-size: 48px;
      // position: absolute;
      margin: 0 auto;
      // font-size: 48px;
      max-width: 435px;
      font-size: 48px;
      // height: 102px;
    }
    @include breakpoint(mobile) {
      .read {
        // color: red;
        font-size: 27px;
      }
    }
    .testimonial {
      display: flex;
      justify-content: space-around;
      margin-top: 38px;
      max-width: 1065px;
      margin: 0 auto;
      position: relative;
      // color: red;
      // background-color: red;
      .name_item {
        // align-items: end;
        // align-self: end;
        max-width: 345px;
        background-color: #f6f6f6;
        border-radius: 20px;
        height: 345px;
        .man1 {
          width: 130px;
          height: 130px;

          padding-top: 32px;
        }
        .name {
          width: 138px;
          height: 28px;
          font-size: 18px;
          // text-align: center;
          margin: 0 auto;
          margin-top: 8px;
          margin-bottom: 27px;
        }
        .title {
          width: 281px;
          height: 77px;
          font-size: 15px;
          font-weight: 300;
          line-height: 18.2px;
          margin: 0 auto;
          text-align: center;
          padding: 0 20px;
        }
      }
    }
  }
  .contact {
    z-index: 1;
    position: relative;
    max-width: 1065px;
    background-color: #f5f5f5;
    margin: 0 auto;
    margin-top: 136px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;

    .text {
      max-width: 379px;
      // top: 101px;
      line-height: 48px;
      // background-color: red;
      // padding-top: 101px;
      margin-top: 101px;
      // width: 361px;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 16.2px;
    }
    .text1 {
      line-height: 27px;
      // background-color: red;
      // padding-top: 101px;
      margin-top: 16px;
      max-width: 361px;
      // height: 101px;
      font-size: 16px;
      font-weight: 400;
    }
    .button {
      width: 167px;
      height: 48px;
      border-radius: 8px;
      font-size: 16px;
      line-height: 27.5px;
      text-align: center;
      color: white;
      background-color: #8eadd5;
      border: none;
    }
  }
  .footer {
    background-color: #f5f5f5;
    max-height: 1460px;
    height: 460px;
    margin-top: 100px;
    height: 443px;
    max-width: 1440px;
    max-height: 1433px;
    display: flex;
    // padding-top: 105px;
    justify-content: space-evenly;
    .text0 {
      // margin: 0 auto;
    }
    .text1 {
      // height: 443px;
      font-size: 18px;
      max-width: 139px;
      max-height: 26px;
      font-weight: 700;
      line-height: 27px;
      // text-align: center;
    }
    .text2 {
      font-size: 16px;
      max-width: 189px;
      max-height: 48px;
      font-weight: 300;
      line-height: 27px;
      // text-align: center;
    }
  }
  .bottom {
    text-align: center;
  }
  .item,
  .company_logo,
  .text2 {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;

    > *:hover {
      box-shadow: 0 0 10px 5px rgba(142, 173, 213, 0.5);
    }
  }
  .item1,
  .arrow,
  .name_item,
  .button,
  .link,
  .text1,
  .menu_logo {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 5px rgba(142, 173, 213, 0.5);
    }
  }

  @include breakpoint(mobile) {
    .footer {
      // display: block;
      // padding-top: 10px;
      text-align: center;
      position: relative;
      top: 200px;
      height: 1300px;
      flex-direction: column;
      margin-top: 80px;
      .text0 {
        padding-top: 100px;
        margin: 0 auto;
        margin-bottom: 0;
        padding-top: 304px;
        .text1 {
          padding-bottom: 20px;
          text-align: center;
          margin: 0 auto;
          // color: red;
        }
        .text2 {
          margin-bottom: 50px;
        }
      }
      .text {
        // backgrosund-color: blue;

        padding-bottom: 50px;
        // margin-top: 50px;
        // padding-top: 0;
        // padding-bottom: 0;
        margin-bottom: 0;
        // background-color: blue;
        height: 100%;
        // border: 2px solid red;

        .text1 {
          // margin-top: 10px;
          margin: 0 auto;
          padding-bottom: 20px;

          // color: red;
          margin-bottom: 20px;
          // padding-bottom: 50px;
        }
        .text2 {
          padding-bottom: 120px;

          margin: 0 auto;
        }
      }
    }
  }
}

@include breakpoint(mobile) {
  .container {
    max-width: 378px;
    background-color: #fdfcfc;

    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      // margin-top: 0px;
      .item1 {
        font-size: 14px;
      }
      // justify-content: center;
      .item {
        display: none;
      }
      .menu {
        display: block;
        margin-top: 46px;
        // align-items: center;
      }
    }
    .hero_section {
      display: block;
      max-width: 100%;
      margin-bottom: 420px;
      // justify-content: center;

      .building {
        font-size: 40px;
        // width: 378px;
        width: 100%;
        text-align: center;
        background-color: #fdfcfc;
      }
      .digital {
        text-align: center;
        width: 100%;
        height: 56px;
        font-size: 16px;
        line-height: 27.5px;
      }
      .button {
        margin-left: 25%;
      }
      .img {
        width: 358px;
        height: 358px;
        margin-top: 48px;
      }
    }
    .companies {
      display: block;
      margin-top: 20px;
      text-align: center;
      .logos {
        .company_logo {
          // width: 380px;
          // display: block;
          .pic {
            width: 70px;
            height: 21px;
          }
          .puzzle {
            width: 80px;
            .puzzle_item {
              height: 32px;

              .pic1 {
                width: 10px;
                // position: absolute;
              }

              .pic2 {
                width: 10px;
                // position: absolute;
              }

              .pic3 {
                width: 10px;
                // position: absolute;
              }

              .pic4 {
                width: 10px;
                // position: absolute;
              }
            }
          }

          .slack {
            // margin-left: 15px;
            // margin-right: 15px;
            width: 41px;
            height: 12px;
          }
          .dropbox {
            width: 18px;
            height: 15px;
          }
          .dropbox1 {
            width: 58px;
            height: 13px;
          }
          .zoom {
            width: 48px;
            height: 11px;
          }
        }
      }
    }
    .branding {
      top: 88px;
      position: relative;
      width: 100%;
      // margin;

      // margin-top: 15px;
      display: flex;

      flex-direction: column-reverse;
      .h1_branding {
        position: relative;

        margin-top: 88px;

        text-align: center;
        font-size: 32px;
        width: 100%;

        position: relative;
      }
      .commonly {
        position: relative;

        width: 90%;
        right: 0;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 25px;
      }
      .arrow {
        // text-align: center;
        left: 0;
        // position: relative;
        margin-left: 50%;
        margin: 0 auto;

        align-items: center;

        margin-left: 50%;

        transform: rotate(90deg);
      }
      .img {
        margin-top: 25px;
      }
    }
    .branding1 {
      margin-top: 0;
      position: relative;
      top: 88px;
      // background-color: red;
      width: 100%;
      display: flex;

      flex-direction: column;
      .h1_branding {
        position: relative;
        margin-top: 88px;

        text-align: center;
        font-size: 32px;
        width: 100%;

        position: relative;
      }
      .commonly {
        // margin-top: 24px;
        // left: 0;
        position: relative;
        top: 0;
        // padding-top: 40px;
        // width: 40px;
        width: 90%;
        right: 0;
        margin: 0 auto;
        text-align: center;

        // display: block;
        // height: ;
        // margin-top: 10px;
      }
      .arrow {
        // text-align: center;
        left: 0;
        // position: relative;
        margin-left: 50%;
        margin: 0 auto;

        padding-top: 10px;
        align-items: center;

        margin-left: 50%;
        transform: rotate(90deg);
      }
      .img {
        position: relative;
        margin-bottom: 136px;
      }
    }
  }
  .test {
    position: relative;
    // font-size: 213px;
    font-size: 68px;
    z-index: 1;
    top: 200px;
    .read {
      position: absolute;
      margin: 0 auto;
      // font-weight: bold;
      font-size: 26px;
      // margin: 0 24px;
      right: 24px;
      left: 24px;
    }
    .testimonial {
      left: 0;
      right: 0;
      // position: absolute;
      top: 100px;
      // display: flex;
      height: 1200px;
      // height: auto;
      margin-top: 0px;
      // background-color: #fdfcfc;
      margin: 0 auto;
      flex-direction: column;
      align-self: center;
      align-items: center;
      justify-content: space-between;
      .name_item {
        width: 314px;

        // background-color: blue;
      }
    }
  }
  .contact {
    z-index: 3;
    background-color: red;
    position: relative;
    // width: 311px;
    top: 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    max-width: 219px;
    height: 350px;
    align-items: center;
    border-radius: 1px;
    // padding-left: 20px;
    // right: 20px;
    // left: 20px;
    width: 90%;
    margin: 0 auto;

    .box {
      // top: 0;
      // width: 100px;
      width: 316px;
      // height: 200px;
      align-items: center;
      // background-color: blue;
      // background-color: red;
      // width: 314px;
      .text {
        margin-top: 0;
        text-align: center;
        font-size: 32px;
      }

      .text1 {
        width: 309px;
        // background-color: red;
        margin-top: 32px;
        font-size: 16px;
        // background-color: red;
        // position: relative;
      }
      .button {
        margin-top: 48px;
      }
    }
    .img {
      display: none;
    }
  }
  // .footer {
  //   margin-top: 1px;
  //   padding-top: 1px;
  //   z-index: 10px;
  //   position: relative;
  //   top: 200px;
  //   // margin-top: 0px;
  //   display: none;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   // align-items: center;
  //   // text-align: center;
  //   height: 1000px;
  //   background-color: black;
  //   .text {
  //     // position: absolute;
  //     // margin: 50px 0;
  //     width: 200px;
  //     text-align: center;
  //     background-color: red;
  //     margin: 0 auto;
  //     .text1 {
  //       margin: 0 auto;
  //       text-align: center;
  //       background-color: blue;
  //     }
  //     .text2 {
  //     }
  //   }
  // }
  .bottom {
    font-size: 15px;
    // color: red;
    width: 150px;
    // background-color: red;
  }
}
